@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
   
}

.grid{
    display: grid;
    grid-template-columns: 18% 82%;
    height: 100%;
}
.sidebar{
    background-color: #0ea5e9;
    height: 100%;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 25px 24px 25px;
}

.logo-text h1{
    font-size: 18px;
    margin-left: 10px;
}
.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 30px;
}

.icon-text p{
    margin-left: 10px;
    font-size: 13px;
}

.list-items-bottom{
    margin-top: 50px;
}
.main{
    background-color: white;
    height: 100%;
    display: grid;
    grid-template-rows: 18% 82%;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;

}
.nav, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;

}
.form-input{
    width: 500px;
    height: 20px;
    background-color: #d4d4d4;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    margin-left: 20px;
    margin-right: 130px;
}

.avatar{
    margin: 0 20px;
}
.welcome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: -5px 20px;
    width: 88%;
}
.right{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 24%;
    margin-right: 30px;

}
.btn{
    background-color: #0ea5e9;
    width: 70px;
    height: 30px;
    color: white;
    border: 1px solid #0ea5e9;
    border-radius: 15px;
}

.content{
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 70% 30%;
}
.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    background-color: white;
    border-left: 3px solid #facc15;
    border-radius: 10px;
    width: 80%;
    height: 140px;
    margin: 15px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
    padding-left: 20px;

}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

h6{
    font-size: 18px;

}

.card p{
    font-size: 14px;
    color: #737373;
    margin: 10px 0;
}
.projects h4{
    margin-left: 20px;
    margin-top: 20px;
}

.ann-trends{
    display: grid;
    grid-template-rows: 45% 55%;


}
.ann h4, .trend h4{
    margin: 20px 0;
}

.ann-card, .trend-card{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
}
.ann-text{
    padding: 10px 20px;

}
.ann-text h6{
    font-size: 14px;
}

.ann-text p, .trend-text p {
    font-size: 12px;
    color:#737373;
}

.ann-divider{
    border: 0.2px solid #737373;
    margin: 0 10px;
}

.trend-image-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin :15px 20px;
}
.trend-text{
    margin-left: 20px;
}
.trend-text h6{
    font-size: 14px;
}